html, body {
  height: 100%;
  margin: 0;

}

.announcement-container {
  padding: 20px;
  background: #f0f2f5;
  width:87vw; /* ให้ header ขยายเต็ม container */
  height: 100vh; /* เต็มความสูงของ viewport */
  box-sizing: border-box; /* รวม padding ไว้ในการคำนวณขนาด */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  width:87vw; /* ให้ header ขยายเต็ม container */
}
.btn-add {
  padding: 12px 24px;
  font-size: 18px;
  width: 100%; /* กว้าง 80% ของ container */
  max-width: 700px; /* กำหนด max width เพื่อไม่ให้กว้างเกิน */
  height: 40px;
  border-radius: 16px;
  background-color:#22C38A ;
  font-family: 'Kanit', sans-serif;
  font-weight: bold;
  margin-right: 20px;
}